---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>

	<h1 class="title mb-6">About</h1>
	<div class="prose prose-citrus max-w-none mb-16">
		<p>こんにちは。<br>
		生きていくため、生き残りを懸け、50歳を過ぎてからJacascript、Vue.js、Reactr、TypeScriptなどを学習しています。<br>いわゆる"リスキリング"(reskillinng)というやつです。</p>
		<p>とりあえず、以下のことに取り組み、そのログをここに残していきます。</p>
		<p>主に以下、Udemyの講座と書籍を中心に学習を進めます。</p>

		<h3>Udemy講座</h3>
		<ul class="list-inside list-disc" role="list">
			<li><span class="font-bold">The Modern JavaScript Bootcamp</span> <span>-</span> <span class="text-sm">Andrew Mead</span></li>
			<li><span class="font-bold">Vue.js : はじめてのVue.js 3 入門！jQuery を使わないウェブ開発</span> <span>-</span> <span class="text-sm">中村 祐太</span></li>
			<li><span class="font-bold">Vue JS Essentials with Vuex and Vue Router</span> <span>-</span> <span class="text-sm">Stephen Grider</span></li>
			<li><span class="font-bold">Type Script : Understanding TypeScript</span> <span>-</span> <span class="text-sm">Maximilian Schwarzmüller</span></li>
			<li><span class="font-bold">React - The Complete Guide 2025 (incl. Next.js, Redux)</span> <span>-</span> <span class="text-sm">Maximilian Schwarzmüller</span></li>
			<li><span class="font-bold">Complete React, Next.js & TypeScript Projects Course 2025</span> <span>-</span> <span class="text-sm">Jānis Smilga</span></li>
		</ul>
		<h3>書籍</h3>
		<ul class="list-inside list-disc" role="list">
			<li><span class="font-bold">プロを目指す人のためのTypeScript入門</span> <span>-</span> <span class="text-sm">鈴木 僚太[著]</span></li>
			<li><span class="font-bold">SQL ゼロからはじめるデータベース操作</span> <span>-</span> <span class="text-sm">ミック[著]</span></li>
			<li><span class="font-bold">リーダブルコード</span> <span>-</span> <span class="text-sm">Dustin Boswell, Trevor Foucher　[著]</span></li>
		</ul>
		
	</div>

</PageLayout>
